@page
@model CoreAndFood.Models.Category
@*@{
    //ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
<form class="form-group" id="categoryForm">
    <b>Category Name</b>
    @Html.TextBoxFor(x => x.CategoryName, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.CategoryName, "", new {@style = "color:red"})
    <br />
    <b>Category Description</b>
    @Html.TextBoxFor(x => x.CategoryDescription, new {@class = "form-control"})
    <br />
    <button class="btn btn-info" onclick="addCategory()">Add Category</button>
</form>


<input type="button" id="sendButton" style="visibility: hidden;" value="Send Message" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function addCategory() {
        var data = $("#categoryForm").serialize();
        $.ajax({
            type: 'POST',
            url: '/Category/AddCategory',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (json) {
                if (json.isRedirect) {
                    window.location.href = json.redirectUrl;
                }
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
        document.getElementById("sendButton").click();
    }
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
